@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input.input {
  @apply ring-0! outline-0! block w-full;
}

.container-width { 
  @apply md:w-8/12 lg:w-10/12 w-11/12;
}

.container {
  @apply md:w-8/12 lg:w-10/12 w-11/12 block m-auto mt-5;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

pre.whitespace-pre-wrap::before {
 display: none !important;
}
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
