@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input.input {
  @apply ring-0! outline-0! block w-full;
}

.container-width { 
  @apply md:w-8/12 lg:w-10/12 w-11/12;
}

.container {
  @apply md:w-8/12 lg:w-10/12 w-11/12 block m-auto pt-24;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

.pill {
  @apply inline-flex items-center gap-1.5 px-3 py-1 rounded-full text-xs font-medium;
}

.pill-danger {
  @apply badge badge-soft badge-error;
}

.pill-info {
  @apply badge badge-soft badge-primary;
}


.pill-success {
  @apply text-emerald-600 bg-emerald-50;
}

.pill-disabled {
  @apply text-gray-600 bg-gray-50;
}

pre.whitespace-pre-wrap::before {
 display: none !important;
}
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
